<!-- Navbar -->
<head>
    <link 
    href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" 
    rel="stylesheet"  type='text/css'>
</head>
<nav class="navbar navbar-expand-lg bg-black navbar-dark">
    <!-- Container wrapper -->
    <div class="container-fluid">
        <!-- Navbar brand -->
        <a class="navbar-brand" href="#">UK House Price Predictor</a>

        <!-- Icons -->
        <ul class="navbar-nav d-flex flex-row me-1">
            <li id="Homepage">
                <a class="nav-link text-white" href="/"><i class="fa fa-home"></i> Homepage</a>
            </li>
            <li id="Statistics">
                <a class="nav-link text-white" href="/stats"><i class="fa fa-bar-chart"></i> Statistics</a>
            </li>
            <li id="Data">
                <a class="nav-link text-white" href="/api"><i class="fa fa-database"></i> Data</a>
            </li>
            {% if current_user.is_anonymous %}
            <li id="Register">
                <a class="nav-link text-white" href="/register"><i class="fa fa-user-plus"></i> Register</a>
            </li>
            <li id="Login">
                <a class="nav-link text-white" href="/login"><i class="fa fa-user"></i> Login</a>
            </li>
            {% else %}
            <li id="logout">
                <a class="nav-link text-white" href="{{ url_for('logout') }}"><i class="fa fa-power-off"></i> Logout</a>
            {% endif %}
        </ul>
    </div>

    <!-- Container wrapper -->
</nav>
<!-- Navbar -->